*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}
.container{
    padding-top: 10px;
}

.navbar{    
    padding: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__s1{   
    display: flex;
    align-items: center;
}

.navbar__s1 img{
    width: 40px;
    height: 40px;
}

.navbar__s1:hover{
    cursor: pointer;
}

.navbar__s2{
    display: flex;
    gap: 35px;
    font-weight: bold;
}

.navbar__s2:hover{
    cursor: pointer;
}
.navbar__s2 p{
    padding: 10px;
}
.navbar__s2 p:hover{
    /* border: solid black 2px; */
    padding: 10px;
    border-radius: 30px;
    background-color: whitesmoke;

}

.navbar__s3{
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.navbar__s3:hover{
    cursor: pointer;
}

.navbar__s3__inr{
    background-color: white;
    color: black;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 30px;
    align-items: center;
}

.navbar__s4__signin{
    border: solid black 1px;
    background-color: black;
    color: white;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 30px;
    align-items: center;
}

/* .search{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
} */

.search__title1{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 54px;
    font-weight: 900;
}

.search__categories{
    display: flex;
    gap: 20px;
    justify-content: center;  
    /* padding: 10px;   */
}

.search__categories p:hover{
    border-bottom: solid black 2px;
    cursor: pointer;
    /* padding: 5px; */
}

.search__button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}
.search__input{
    border: solid black 2px;
    width: 40%;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    background-color: transparent; 
    border: solid rgb(158, 145, 145) 1px;
    display: flex;
}

.search__input i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__input input{
    border: none;
    width: 85%;
    font-size: 16px;      
    padding: 10px;
    position: relative;

}
.search__input input:focus{
    outline: none;
}
/* .search__input button{
    padding: 15px 20px;
    background-color: #34E0A1;
    border-radius: 30px;    
    position: absolute;
    
    
    top: 272px;
    right: 570px;
} */

.search__button p{
    background-color: rgb(22, 219, 127);
    color: black;
    border-radius: 30px;
    padding: 10px;
    padding: 15px 25px;
    width: fit-content;
}

.body__img{
    display: flex;
    justify-content: center;
    position: relative;
   
}

.body__img img{
    width: 1100px;
    border-radius: 30px;
    
}


.body__img__title{
    color: white;
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 430px;
}

.body__img p{
    color: white;
    display: flex;
    position: absolute;
    bottom: 80px;
    left: 430px;
}


.body__btn p{
    padding: 15px 30px;
    background-color:white;
    border-radius: 30px;    
    position: absolute;
    left: 420px;
    bottom: -140px;
    font-weight: bold;    
}

.hotels{
    padding: 0 380px 0 380px;
}
.hotels__container{
   display: flex;
   justify-content: space-around;
   gap: 20px;
}

.hotels-card{ 
   width: 200px;
}

.hotels-card img{
    width: 200px;
}

.hotels__title{
    padding: 10px;
}

.hotels p{
    padding: 20px;
}


.footer{
    padding: 30px;
    background-color: #F2F2F2;
    color: black;
    display: flex;
    justify-content: center;
}

.footer__one{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.footer__one p{
    margin: 10px;
    font-size: 14px;
}

.footer__one p:hover{
    border-bottom: solid black 1px;
    
}
.footer__two{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
}
