*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}
.container{
    padding-top: 10px;
}

.navbar{
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
    align-items: center;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__s1{   
    display: flex;
    align-items: center;
}

.navbar__s1 img{
    width: 40px;
    height: 40px;
}

.navbar__s2{
    display: flex;
    gap: 35px;
    font-weight: bold;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.navbar__s3__inr{
    background-color: white;
    color: black;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 30px;
    align-items: center;
}

.navbar__s4__signin{
    border: solid black 1px;
    background-color: black;
    color: white;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 30px;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search__title1{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 54px;
    font-weight: 900;
}

.search__categories{
    display: flex;
    gap: 20px;
    justify-content: center;    
}

.search__input{
    display: flex;
    justify-content: center;
}

.search__input input{
   border: none;
    width: 50%;
    font-size: 16px;  
    height: 50px; 
    margin-top: 40px;
    border-radius: 30px;
    padding: 10px;
    background-color: transparent; 
    border: solid rgb(158, 145, 145) 1px;
}
.search__input input:focus{
    outline: none;
}
.body__img{
    display: flex;
    align-items: center;
}

.body__img img{
    width: 50%;
    height: 50%;
}